.Title {
	font-size: 18px;
	color: brown;
	font-weight: bold;
}

.RightAlign {
	text-align: center;
}

.ControlError {
	border: 2px solid red;
}

.ControlErrorMessage {
	color: red;
	font-weight: 600;
}

.Level {
	padding: 20px;
}

.Slot {
	cursor: pointer;
	border: 2px solid gray;
	margin: 5px;
	height: 150px;
	width: 150px;
	padding: 60px;
}

.Free {
	background-color: white;
	color: black;
	font-weight: 600;
	text-align: center;
}

.Booked {
	background-color: #FFC0CB;
	color: white;
	font-weight: 600;
	text-align: center;
}